@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    font-family: 'Kdam Thmor Pro', sans-serif;
}



h1 {
    margin-left: 70px;
    margin-top: 35px;
}

.servicos{
    width: 100%;
    display:flex;
    justify-content: space-around;
}

