@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

header {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #999999;
}

img {
    height: 100px;
    width: auto;
}

nav {
    width: 60%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-arounds;
    align-items: center;
}

li {
    list-style: none;
    margin: 20px;
    font-size: 18px;
    color: aliceblue;
    font-weight: 400;
    font-family: 'Kdam Thmor Pro', sans-serif;
}