@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;

}

.logo {
    margin-top: 15px;
    object-fit: contain;
}

.copyright{
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

